@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an application where you can create auctions for your products and also bid on other auctions created by other users.</p>
</div>